<div class="panel panel-success" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
    <div class="panel-body no-padding">
        <table id="tbOrders" class="table">
            <thead>
                <tr class="success">
                    <th>Order Id</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Customer's Name</th>
                    <th>Customer's Email</th>
                    <th>Total Paid</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal" id="orderDetailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Order Details - <span id="lblOrderId"></span></h5>
            </div>
            <div class="modal-body">
                <p>Details</p>
                <table style="width: 100%">
                    <tr>
                        <th style="padding: 15px;">Status</th>
                        <td style="padding: 15px;" id="lblOrderDetailStatus"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Urgency</th>
                        <td style="padding: 15px;" id="lblOrderDetailUrgency"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Date Submited</th>
                        <td style="padding: 15px;" id="lblOrderDetailDate"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Type</th>
                        <td style="padding: 15px;" id="lblOrderDetailType"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Title</th>
                        <td style="padding: 15px;" id="lblOrderDetailTitle"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Number of Pages</th>
                        <td style="padding: 15px;" id="lblOrderDetailNumberOfPages"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Spacing</th>
                        <td style="padding: 15px;" id="lblOrderDetailSpacing"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Style</th>
                        <td style="padding: 15px;" id="lblOrderStyle"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Language Preference</th>
                        <td style="padding: 15px;" id="lblOrderLanguagePreference"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Number of References</th>
                        <td style="padding: 15px;" id="lblNumberOfReferences"></td>
                    </tr>

                    <tr>
                        <th style="padding: 15px;">Notes</th>
                        <td style="padding: 15px;" id="lblOrderDetailNotes"></td>
                    </tr>
                    
                </table>

                <p>Source List</p>
                <div id="orderDetailsListArea" style="margin-bottom: 3%">

                </div>

                <p>Change Status</p>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="lblChangeStatus">Please choose the status
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a href="#">Submitted</a></li>
                        <li><a onclick="SelectNewStatus('in progress')">In progress</a></li>
                        <li><a onclick="SelectNewStatus('ready')">Ready</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ChangeOrderStatus()" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var selectedStatusGlobal = null;
    var selectedOrderPublicIdGlobal = null;

    $(document).ready(function() {
        function formatNumber(num) {
            return num.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
        }

        var proTable = $('#tbOrders').dataTable({
            ajax :{
                url : "/orders/getall",
                type: "GET"
            },
            "serverSide": false,
            "processing": true,
            "lengthChange":!1,
            "pageLength":10,
            "colReorder":!0,
            "aoColumns": [
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function(data, type, full) {
                        return data.orderId;   
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function(data, type, full) {
                        return data.created;   
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function(data, type, full) {
                        return data.status;   
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function(data, type, full) {
                        return data.customer.name;   
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function(data, type, full) {
                        return data.customer.email
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function(data, type, full) {
                        return "$" + formatNumber(data.total)
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function(data, type, full) {
                        return '<button type="button" onclick=ShowDetails("'+data.publicId+'") class="btn btn-info">Details</button>'          
                    }
                }
            ],
            "scroller": {
                loadingIndicator: true
            },
            "searching": true,
        });
    })

    function SelectNewStatus(newStatus) {
        $("#lblChangeStatus").text(newStatus)
        selectedStatusGlobal = newStatus
    }

    function ShowDetails(orderPublicId) {
        selectedOrderPublicIdGlobal = orderPublicId

        try {
            $.ajax({
                type: "GET",
                url: "/orders/detail/" + orderPublicId,
                timeout: 60000,
                async: true,
                success: function(response) { 
                    $("#lblOrderId").text(response.details.orderId)
                    $("#lblOrderDetailStatus").text(response.details.status)
                    $("#lblOrderDetailDate").text(response.details.created)
                    $("#lblOrderDetailType").text(response.details.type)
                    $("#lblOrderDetailTitle").text(response.details.title)
                    $("#lblOrderDetailUrgency").text(response.details.urgency)
                    $("#lblOrderDetailNumberOfPages").text(response.details.numberOfPages)
                    $("#lblOrderDetailSpacing").text(response.details.spacing)
                    $("#lblOrderDetailNotes").text(response.details.notes)
                    $("#lblOrderStyle").text(response.details.style)
                    $("#lblOrderLanguagePreference").text(response.details.languageStyle)
                    $("#lblNumberOfReferences").text(response.details.numberOfSources)
                    
                    //TODO change source list 
                    var sourceListArr = [
                        "https://media.essay-mint.net/document/32sad32et4edd",
                        "https://media.essay-mint.net/document/32sad32et4edd"
                    ]

                    $("#orderDetailsListArea").empty();
                    sourceListArr.map((element) => {
                        var sourceTmp = "<a href='"+element+"'>"+element+"</p>";  
                        $("#orderDetailsListArea").append(sourceTmp);      
                    })

                    $("#lblChangeStatus").text("Please choose the status");
                    selectedStatusGlobal = null;
                    
                    $('#orderDetailsModal').modal('show')
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    swal("Error", "Something is broken please try again later", 'warning');
                }
            });   
        } catch (error) {
            releaseView();
            swal("Error", "Something is broken please try again later", 'warning');
        }
    }

    function ChangeOrderStatus() {
        if(selectedStatusGlobal === null) {
            swal("Error", "Please select the status before saving changes", 'warning');
        }
        else {
            try {
                $.ajax({
                    type: "PATCH",
                    url: "/order/changestatus",
                    timeout: 60000,
                    async: true,
                    data: { publicId: selectedOrderPublicIdGlobal, newStatus: selectedStatusGlobal},
                    success: function(response) { 
                        window.location.href = response['redirect'];
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        releaseView();
                        if(errorThrown === "Bad Request") {
                            swal("Error", "Please insert your information correctly", 'warning');
                        }   
                        else {
                            swal("Error", "Something is broken please try again later", 'warning');
                        }
                        
                    }
                });   
            } catch (error) {
                releaseView();
                swal("Error", "Something is broken please try again later", 'warning');
            }
        }
    }
</script>