<div class="login-logo">
    <a href="index.html"><img src="images/logo.png" alt=""/></a>
</div>
<h2 class="form-heading">Login</h2>
<div class="app-cam">
    <form id="frmLogin">
        <input type="text" id="txtEmail" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
        <input type="password" id="txtPassword" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
        <div class="submit"><input type="submit" id="btnLogin" value="Login"></div>

        <ul class="new">
            <div class="clearfix"></div>
        </ul>
    </form>
</div>
{{> Footer}}