<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/panel">Essay Mint</a>
    </div>
    
    <div class="navbar-dark bg-dark sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/panel"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/logout"><i class="fa fa-dashboard fa-fw nav_icon"></i>Log Out</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>